<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <img class="image-bg" src="/assets/social-share/willflix.png"/>
        <div class="section-one">
            <div class="about-col">
                <div class="text-w-border">Founded by Payton Mack, the Howard Thesis Showcase serves as a vessel for emerging black storytellers to be uplifted through premiering their thesis short films to fellow students and the greater DMV community. Once Payton realized there would be no platform to screen thesis films when she was a student in the class, she began to plan what would soon be known as HTS. Since its cultivation in 2022 this annual event has become one of the most sought after events after homecoming and springfest, doubling in attendees and growing behind the scenes. In 2023, Payton partnered with Walter Sanders IV to create Outta Focus Entertainment LLC to ensure that this event would be something future film students could look forward to and become a tradition amongst graduating HBCU filmmakers for years to come.</div>
                <div class="person-unit">
                    <div class="person-unit-text">
                        <div class="person-name">Payton Mack</div>
                        <div class="person-title">HTS Founder & Executive Producer </div>
                        <div class="person-desc">Payton Mack is a filmmaker from Houston, TX with her B.A. from Howard University and a current MFA Film Production candidate at the University of Southern California. From a very young age, she has always appreciated capturing the beauty in the small things and has developed her skills before she knew she was interested in storytelling. From working within Hoorae Media assisting the development of stories to creating an ad alongside the Beats by Dre brand and United Masters, Payton takes advantage of every opportunity to expand her perspective on storytelling. Her most recent short film Forsee, surrounding a young woman's natural hair journey following her mother's death, earned its way into the Oscar Qualifying Martha's Vineyard African American Film Festival and was named one of the 2023 Best of the Fest short films. </div>
                    </div>
                    <img class="person-photo" src="/assets/people/payton.jpg"/>
                </div>
                <div class="person-unit reverse-unit">
                    <div class="person-unit-text">
                        <div class="person-name">Payton Mack</div>
                        <div class="person-title">HTS Founder & Executive Producer </div>
                        <div class="person-desc">Payton Mack is a filmmaker from Houston, TX with her B.A. from Howard University and a current MFA Film Production candidate at the University of Southern California. From a very young age, she has always appreciated capturing the beauty in the small things and has developed her skills before she knew she was interested in storytelling. From working within Hoorae Media assisting the development of stories to creating an ad alongside the Beats by Dre brand and United Masters, Payton takes advantage of every opportunity to expand her perspective on storytelling. Her most recent short film Forsee, surrounding a young woman's natural hair journey following her mother's death, earned its way into the Oscar Qualifying Martha's Vineyard African American Film Festival and was named one of the 2023 Best of the Fest short films. </div>
                    </div>
                    <img class="person-photo reverse-unit-photo" src="/assets/people/payton.jpg"/>
                </div>
                <div class="person-unit">
                    <div class="person-unit-text">
                        <div class="person-name">Payton Mack</div>
                        <div class="person-title">HTS Founder & Executive Producer </div>
                        <div class="person-desc">Payton Mack is a filmmaker from Houston, TX with her B.A. from Howard University and a current MFA Film Production candidate at the University of Southern California. From a very young age, she has always appreciated capturing the beauty in the small things and has developed her skills before she knew she was interested in storytelling. From working within Hoorae Media assisting the development of stories to creating an ad alongside the Beats by Dre brand and United Masters, Payton takes advantage of every opportunity to expand her perspective on storytelling. Her most recent short film Forsee, surrounding a young woman's natural hair journey following her mother's death, earned its way into the Oscar Qualifying Martha's Vineyard African American Film Festival and was named one of the 2023 Best of the Fest short films. </div>
                    </div>
                    <img class="person-photo" src="/assets/people/payton.jpg"/>
                </div>
                <div class="person-unit reverse-unit">
                    <div class="person-unit-text">
                        <div class="person-name">Payton Mack</div>
                        <div class="person-title">HTS Founder & Executive Producer </div>
                        <div class="person-desc">Payton Mack is a filmmaker from Houston, TX with her B.A. from Howard University and a current MFA Film Production candidate at the University of Southern California. From a very young age, she has always appreciated capturing the beauty in the small things and has developed her skills before she knew she was interested in storytelling. From working within Hoorae Media assisting the development of stories to creating an ad alongside the Beats by Dre brand and United Masters, Payton takes advantage of every opportunity to expand her perspective on storytelling. Her most recent short film Forsee, surrounding a young woman's natural hair journey following her mother's death, earned its way into the Oscar Qualifying Martha's Vineyard African American Film Festival and was named one of the 2023 Best of the Fest short films. </div>
                    </div>
                    <img class="person-photo reverse-unit-photo" src="/assets/people/payton.jpg"/>
                </div>
                <div class="person-unit">
                    <div class="person-unit-text">
                        <div class="person-name">Payton Mack</div>
                        <div class="person-title">HTS Founder & Executive Producer </div>
                        <div class="person-desc">Payton Mack is a filmmaker from Houston, TX with her B.A. from Howard University and a current MFA Film Production candidate at the University of Southern California. From a very young age, she has always appreciated capturing the beauty in the small things and has developed her skills before she knew she was interested in storytelling. From working within Hoorae Media assisting the development of stories to creating an ad alongside the Beats by Dre brand and United Masters, Payton takes advantage of every opportunity to expand her perspective on storytelling. Her most recent short film Forsee, surrounding a young woman's natural hair journey following her mother's death, earned its way into the Oscar Qualifying Martha's Vineyard African American Film Festival and was named one of the 2023 Best of the Fest short films. </div>
                    </div>
                    <img class="person-photo" src="/assets/people/payton.jpg"/>
                </div>
                <div class="person-unit reverse-unit">
                    <div class="person-unit-text">
                        <div class="person-name">Payton Mack</div>
                        <div class="person-title">HTS Founder & Executive Producer </div>
                        <div class="person-desc">Payton Mack is a filmmaker from Houston, TX with her B.A. from Howard University and a current MFA Film Production candidate at the University of Southern California. From a very young age, she has always appreciated capturing the beauty in the small things and has developed her skills before she knew she was interested in storytelling. From working within Hoorae Media assisting the development of stories to creating an ad alongside the Beats by Dre brand and United Masters, Payton takes advantage of every opportunity to expand her perspective on storytelling. Her most recent short film Forsee, surrounding a young woman's natural hair journey following her mother's death, earned its way into the Oscar Qualifying Martha's Vineyard African American Film Festival and was named one of the 2023 Best of the Fest short films. </div>
                    </div>
                    <img class="person-photo reverse-unit-photo" src="/assets/people/payton.jpg"/>
                </div>
            </div>
        </div>
    <div class="bottom-gradient"></div>
</div>
