<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Hot Potato</div>
                <div class="info-bar">
                    <div class="date">Spring 2022</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Mykel Ratliff-Brown</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Eden Ann Anderson</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    Hot Potato follows a young woman and senior in college Ashley who must face the perils of dating again once her relationship is in shambles. This short film is for anyone out there who has longed to find that 'one' amidst a college campu as well as a story of closing old doors and opening new chapters while tugging at your heart strings and tickling your funny bone.                <a class="link" href="https://youtu.be/uItJaKlU0FE" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
    </div>
</div>
<app-footer></app-footer>
