<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <img class="willflix-logo" src="/assets/willflix.png"/>
                    <div class="series">FILM</div>
                </div>
                <div class="series-title">Angel On My Shoulder</div>
                <div class="info-bar">
                    <div class="date">2023</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Ann-Corynn Rivière</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Madison White</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    On the day of her final exam to become a guardian angel, a young girl figures out she is being sabotaged by one of her peers.
                </div>
                <a class="link" href="https://youtu.be/bKYt8EiqRY0" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
    </div>
</div>
<app-footer></app-footer>
