<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Running Out of Time</div>
                <div class="info-bar">
                    <div class="date">2024</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Mackenzie Scott</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Chandler Kinsey & Munyang Tengen</div>
                        </div>
                        <div class="tag dp">
                            <img class="tag-icon" src="/assets/tags/dp.png"/>
                            <div class="tag-text">D.P. Olivia Toussaint</div>
                        </div>
                        <div class="tag editor">
                            <img class="tag-icon" src="/assets/tags/edit.png"/>
                            <div class="tag-text">Edit. Maia Houston</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">Running Out of Time follows an up and coming film director, who prioritizes work over her relationship, to the point of missing her partner's most important night. Leading her to race against the clock to find a way to fix her mistake before it's too late.
                <div class="play-button">Coming Soon...</div>
            </div>
        </div>
    </div>
    <div class="bottom-gradient"></div>
</div>