<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Open Flame</div>
                <div class="info-bar">
                    <div class="date">2024</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Skylar Williams</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Jourdan Elle Johnson</div>
                        </div>
                        <div class="tag dp">
                            <img class="tag-icon" src="/assets/tags/dp.png"/>
                            <div class="tag-text">D.P. Alexia Thompson</div>
                        </div>
                        <div class="tag editor">
                            <img class="tag-icon" src="/assets/tags/edit.png"/>
                            <div class="tag-text">Edit. Ania Engram</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    During a smoke session, two friends explore how fire has always been a catalyst for human connection: from hunter-gatherers discovering a flame to bonfire parties in the 80s to social smoke sessions and more.
                    <a class="link" href="https://youtu.be/kVwDOPzgqm8" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gradient"></div>
</div>