<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Real Fake</div>
                <div class="info-bar">
                    <div class="date">Fall 2023</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Crystal Jackson</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Ryan-Simone Duncan</div>
                        </div>
                        <div class="tag dp">
                            <img class="tag-icon" src="/assets/tags/dp.png"/>
                            <div class="tag-text">D.P. I'Ziae Frazier</div>
                        </div>
                        <div class="tag editor">
                            <img class="tag-icon" src="/assets/tags/edit.png"/>
                            <div class="tag-text">Edit. Autumn Reed</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    22 year old Kylah is a popular influencer with over 250,000 followers and subscribers who she continuously lies too but with cancel culture on the prowl, she is faced with the horrendous reality of choosing between a big interview opportunity that can skyrocket her career or telling the truth about herself due to pressure from the embodiment of her own conscience.
                    <div class="play-button">
                        Coming Soon...
                    </div>
            </div>
        </div>
    </div>
    <div class="bottom-gradient"></div>
</div>