<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Nice to Meet You</div>
                <div class="info-bar">
                    <div class="date">Spring 2022</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Veronica Carr</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Lauren Taylor</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    When she receives an Instagram DM from a man claiming to be her brother, Amelia almost doesn't respond. However, something pulls her to meet him in person for the first time in her life. Amelia and Drew learn more about themselves than they bargained for, but they might also gain a new beginning that neither of them expected.                <a class="link" href="https://youtu.be/g6OmY82CePQ" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
    </div>
</div>
<app-footer></app-footer>
