<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Pageant Night</div>
                <div class="info-bar">
                    <div class="date">2024</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Mia Bennett-Jones</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Jasmine Smith</div>
                        </div>
                        <div class="tag dp">
                            <img class="tag-icon" src="/assets/tags/dp.png"/>
                            <div class="tag-text">D.P. Nokks Edwards</div>
                        </div>
                        <div class="tag editor">
                            <img class="tag-icon" src="/assets/tags/edit.png"/>
                            <div class="tag-text">Edit. Aliyah Brown</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    Student Eris Meyers is looking to go from a “nobody” to a “somebody” on her campus by entering the Miss Oakman University Pageant. She realizes this pageant is the furthest thing from fair and stops playing by the book for a chance at the crown.
                    <a class="link" href="https://youtu.be/jHmgkqJ5lcc" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gradient"></div>
</div>