<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Half Full</div>
                <div class="info-bar">
                    <div class="date">Spring 2024</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Princess McKey</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Morgan Gibson & Naadira Aalim-Johnson</div>
                        </div>
                        <div class="tag dp">
                            <img class="tag-icon" src="/assets/tags/dp.png"/>
                            <div class="tag-text">D.P. Amari Esco</div>
                        </div>
                        <div class="tag editor">
                            <img class="tag-icon" src="/assets/tags/edit.png"/>
                            <div class="tag-text">Edit. Jadaysia Carr</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    Overcome with grief after the suicide of her baby sister, Jazmine struggles to emotionally reconnect with their mother, as she quickly tries to move on.
                    <a class="link" href="https://youtu.be/jFVD6rwFz5w" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gradient"></div>
</div>