<div class="left-bar">
    <a class="link" [routerLink]="['/']">
        <img class="w-logo" src="/assets/logo.png"/>
    </a>
    <a class="link" href="https://www.instagram.com/howard.thesis.showcase/" target="_blank">
        <img class="social-icon" src="/assets/socials/instagram.png"/>
    </a>
    <a class="link" href="https://filmfreeway.com/HowardThesisShowcase" target="_blank">
        <img class="social-icon" src="/assets/socials/filmfreeway.png"/>
    </a>
    <a class="link" href="mailto:info@outtafocusent.com">
        <img class="social-icon" src="/assets/socials/email.png"/>
    </a>
    <!-- add youtube logo-->
    <a class="link" href="https://www.youtube.com/channel/UCCq3fAH-YVkU9OTp_PVkSbA" target="_blank">
        <img class="social-icon" src="/assets/socials/youtube.png"/>
    </a>
</div>