<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Over The Influence</div>
                <div class="info-bar">
                    <div class="date">Spring 2023</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Dennis Simmons</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Chesney Green</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    Over the Influence is a psychological thriller that takes place the night before an important family dinner. A young man and his group of friends decide to gather at his apartment and do a few drugs in celebration of the holiday. Going through each stage of being high, he realizes there's more to life than it seems.                 </div>
                <a class="link" href="https://youtu.be/_qZJglVBrso " target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
    </div>
</div>