<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
      <div class="section-one">
        <div class="aligner">
          <div class="mini-title">2024 Howard Thesis Showcase Recap</div>
          <div class="image-grid">
            <img *ngFor="let image of imagePaths" [src]="image.path" alt="Showcase Image" (click)="openModal(image.path)">
          </div>
        </div>
      </div>
      <div class="bottom-gradient"></div>
    </div>
  
    <div class="modal" *ngIf="selectedImage" (click)="closeModal()">
      <span class="close" (click)="closeModal()">&times;</span>
      <img class="modal-content" [src]="selectedImage" style="margin-top: 100px;">
    </div>
  </div>
  