.parent {
    display: flex;
    background: rgb(17, 18, 21);
    height: 100vh;

    @media (max-width: 510px) {
        flex-direction: column;
    }
}

.main-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one {
    padding: 120px 0 175px 30px;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 510px) {
        padding: 120px 0 175px 30px;
        margin-top: -95px;
    }

    @media (max-width: 422px) {
        margin-top: -140px !important;
    }
}

.aligner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-title {
    margin-bottom: 30px;
    margin-top: 40px;
    color: white;
}

.bottom-gradient {
    height: 100px;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(17, 18, 21, 1),
        rgba(17, 18, 21, 0)
    );
    margin-top: -100px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Adjust the minmax value as needed
    gap: 10px; // Adjust the gap as needed
    padding: 10px; // Add padding if needed
}
  
img {
    width: 100%;
    height: auto;
    object-fit: cover; // Adjusts the image to cover the container without stretching
    cursor: pointer; // Change cursor to pointer when hovering over images
}
  
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
