<div class="parent" style="height: 100vh">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">Burn Out</div>
                <div class="info-bar">
                    <div class="date">Spring 2022</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Sade Hall</div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Jordan Rencher</div>
                        </div>
                        <div class="tag dp">
                            <img class="tag-icon" src="/assets/tags/dp.png"/>
                            <div class="tag-text">D.P. Camryn Joï Billet</div>
                        </div>
                        <div class="tag editor">
                            <img class="tag-icon" src="/assets/tags/edit.png"/>
                            <div class="tag-text">Edit. Ronald Johnson</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    Howard University Senior Ashley dreams of graduating are put on pause when she failed a major class. But as she strives to return from this fall from grace by any means necessary, she's targeted by a vengeful spirit who will stop at nothing to take over Ashley’s body and have a second chance at life.                <a class="link" href="https://youtu.be/TsMi6PK2Onk" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-gradient"></div>
</div>