<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <div class="series">SHORT FILM</div>
                </div>
                <div class="series-title">The Core</div>
                <div class="info-bar">
                    <div class="date">Spring 2023</div>
                    <div class="episodes">1 Episode</div>
                    <div class="tools">
                        <div class="tag director">
                            <img class="tag-icon" src="/assets/tags/dir.png"/>
                            <div class="tag-text">Dir. Leara Jemison </div>
                        </div>
                        <div class="tag producer">
                            <img class="tag-icon" src="/assets/tags/prod.png"/>
                            <div class="tag-text">Prod. Aaliyah Plummer & Isaiah Thornwell</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Synopsis:</div>
                <div class="episode-description">
                    A young business man struggles to write a eulogy after learning about the death of his mother.                </div>
                <a class="link" href="https://youtu.be/hiBKfpm8fDk" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
    </div>
</div>
<app-footer></app-footer>
