html, body {
    margin: 0;
    font-family: Nunito Sans;
    font-weight: 300;
    overflow-x: hidden;
    background-color: black;
}

@font-face {
    font-family: "Benguiat";
    src: local("Benguiat"), url(./assets/fonts/Benguiat-Bold.ttf) format("truetype");
}

.parent {
    display: flex;
    background: black !important;

    @media (max-width: 510px) {
        flex-direction: column;
    }
}

.bottom-gradient {
    height: 100px;
    width: 100%;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    ) !important;
    margin-top: -100px;
}

.swift {
    background: #F7522A;  
}

.director {
    background: #E50914;  
}

.producer {
    background: #12B886;  
}

.python {
    background: #3374A8;
}

.obj-c {
    background: black;
}

.cv {
    background: #0002F8;
}

.aws {
    background: black;
}

.angular {
    background: #a6120d;
}

.node {
    background: #3c873a;
}

.fullstack {
    background: rgb(99, 99, 255);
}

.vercel {
    background: black;
}

.java {
    background: #5382a1;
}