<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="main-title">Howard University Film Thesis Showcase</div>
                <div class="main-description">The Howard University Film Thesis Showcase annually displays the remarkable talent of emerging filmmakers from Howard University. Presented by Outta Focus Entertainment LLC.</div>
            </div>
            <div class="buttons-wrapper">
                <a class="link" href="https://youtu.be/8D4cNA7pQUE" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play Trailer
                    </div>
                </a>
                <!--
                <a class="link" href="" target="_blank">
                    <div class="about-wrapper">
                        <div class="about-text">More Info</div>
                        <div class="about-button"></div>
                    </div>
                </a>
                -->
            </div>
        </div>
        <div class="bottom-gradient"></div>
        <div class="section-two">
            <div class="trending-text">2023 Films</div>
            <div class="features-wrapper">
                <div *ngFor="let film of films2023">
                    <app-faux-feature [image]="film.image" [link]="film.link"></app-faux-feature>
                </div>
            </div>
        </div>
        <div class="section-x">
            <div class="trending-text">2022 Films</div>
            <div class="features-wrapper">
                <div *ngFor="let film of films2022">
                    <app-faux-feature [image]="film.image" [link]="film.link"></app-faux-feature>
                </div>
            </div>
        </div>
        <div class="section-x">
            <div class="trending-text">Sponsors</div>
            <div class="features-wrapper">
                <div *ngFor="let sponsor of sponsors">
                    <app-faux-feature [image]="sponsor.image" [link]="sponsor.link"></app-faux-feature>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
